PORT=8080

CONSOLE_IMAGE=ghcr.io/agentlabs-inc/agentlabs/console:latest

FRONTEND_IMAGE=ghcr.io/agentlabs-inc/agentlabs/frontend:latest

SERVER_IMAGE=ghcr.io/agentlabs-inc/agentlabs/server:latest

AGENTLABS_URL=localhost

# Set this only if you want the console to be on another domain.
# If not specified the console will be accessible at $AGENTLABS_URL/console
# by default.
# AGENTLABS_CONSOLE_URL=console.example.com

# ----------------------
# Database configuration
# ----------------------

POSTGRES_USER=postgres

# IMPORTANT! Change at least this before going to production!
POSTGRES_PASSWORD=postgres

POSTGRES_DB=postgres

# Do not change this unless you are using an external database.
POSTGRES_PORT=5432

# This refers to the hostname of the postgres container on the docker compose network.
# You should not have to change this unless you are using an external database.
POSTGRES_HOST=postgres

# ----------------------
# Misc configuration
# ----------------------

OPENAI_API_KEY=

# ----------------------
# Backend Server Configuration
# ----------------------

USERS_ACCESS_TOKEN_SECRET=

# ----------------------
# For development only - if you are not contributing to Agentlabs, you can freely ignore this!
# ----------------------

DEV_FRONTEND_PORT=3000
DEV_CONSOLE_PORT=3002
DEV_SERVER_PORT=3001
DEV_POSTGRES_PORT=5432
