version: '3.8'

volumes:
  postgres-data-dev:

services:

  gateway:
    image: ${CADDY_IMAGE}
    container_name: gateway-dev
    volumes:
      - ./caddy/config/Caddyfile:/etc/caddy/Caddyfile
      - ./caddy/data:/data
    depends_on:
      - frontend
      - server
    ports:
      - ${PORT}:80
    restart: unless-stopped

  postgres:
    image: ${POSTGRES_IMAGE}
    container_name: postgres-dev
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - ${DEV_POSTGRES_PORT}:5432
    volumes:
      - postgres-data-dev:/var/lib/postgresql/data
    restart: unless-stopped

  server:
    container_name: server-dev
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - ./server:/app
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
      - USERS_ACCESS_TOKEN_SECRET=${USERS_ACCESS_TOKEN_SECRET}
      - MEMBERS_ACCESS_TOKEN_SECRET=${MEMBERS_ACCESS_TOKEN_SECRET}
      - MEMBERS_AUTH_CODE_EXPIRATION_DELAY_IN_MINUTES=${MEMBERS_AUTH_CODE_EXPIRATION_DELAY_IN_MINUTES}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USERNAME=${SMTP_USERNAME}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - EMAIL_SENDER_ADDRESS=${EMAIL_SENDER_ADDRESS}
      - EMAIL_SENDER_NAME=${EMAIL_SENDER_NAME}
      - USERS_OAUTH_GOOGLE_CLIENT_ID=${USERS_OAUTH_GOOGLE_CLIENT_ID}
      - USERS_OAUTH_GOOGLE_CLIENT_SECRET=${USERS_OAUTH_GOOGLE_CLIENT_SECRET}
      - MEMBERS_DEMO_OAUTH_GOOGLE_CLIENT_ID=${MEMBERS_DEMO_OAUTH_GOOGLE_CLIENT_ID}
      - MEMBERS_DEMO_OAUTH_GOOGLE_CLIENT_SECRET=${MEMBERS_DEMO_OAUTH_GOOGLE_CLIENT_SECRET}
      - AES_ENCRYPTION_KEY=${AES_ENCRYPTION_KEY}
      - SECRET_TELEMETRY_KEY=${SECRET_TELEMETRY_KEY}
    ports:
      - ${DEV_SERVER_PORT}:3000
    restart: unless-stopped

  frontend:
    container_name: frontend-dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app
    ports:
      - ${DEV_FRONTEND_PORT}:3000
    depends_on:
      - server
    restart: unless-stopped

  console:
    container_name: console-dev
    hostname: console
    environment:
      - PUBLIC_AI_AGENT_DOMAIN=${PUBLIC_AI_AGENT_DOMAIN}
      - PUBLIC_OAUTH_GOOGLE_CLIENT_ID=${PUBLIC_OAUTH_GOOGLE_CLIENT_ID}
      - PUBLIC_TELEMETRY_KEY=${PUBLIC_TELEMETRY_KEY}
      - PUBLIC_DISCORD_URL=${PUBLIC_DISCORD_URL}
    build:
      context: ./console
      dockerfile: Dockerfile.dev
    volumes:
      - ./console:/app
    ports:
      - ${DEV_CONSOLE_PORT}:3000
    depends_on:
      - server
    restart: unless-stopped
