:80 {
	handle_path /api/* {
		reverse_proxy server:3000
	}

	handle /socket.io/* {
		reverse_proxy server:3000
	}

	handle /console/* {
		reverse_proxy console:3000
	}
	
	handle {
		reverse_proxy frontend:3000
	}
}
