openapi: 3.0.0
paths:
  /:
    get:
      operationId: getHello
      parameters: []
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: string
  /users/register:
    post:
      operationId: register
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUserDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCreatedResponseDto"
        "409":
          description: User already exists, please login.
        "500":
          description: Something went wrong.
      tags:
        - users
  /users/login:
    post:
      operationId: login
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginUserDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponseDto"
        "401":
          description: The provided credentials are invalid or the user does not have a
            password configured.
        "500":
          description: Something went wrong.
      tags:
        - users
  /users/whoami:
    post:
      operationId: whoami
      parameters: []
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhoAmIResultDto"
        "404":
          description: User not found
        "500":
          description: Something went wrong.
      tags:
        - users
      security:
        - bearer: []
  /projects/create:
    post:
      operationId: createProject
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedProjectDto"
      tags:
        - projects
      security:
        - bearer: []
  /projects/list_for_organization/{organizationId}:
    get:
      operationId: listOrganizationProjects
      parameters:
        - name: organizationId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProjectsResultDto"
      tags:
        - projects
      security:
        - bearer: []
  /projects/exists/{slug}:
    get:
      operationId: projectExists
      parameters:
        - name: slug
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectExistsResponseDto"
      tags:
        - projects
      security:
        - bearer: []
  /agents/create:
    post:
      operationId: createAgent
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedAgentDto"
      tags:
        - agents
      security:
        - bearer: []
  /agents/list_for_project/{projectId}:
    post:
      operationId: listForProject
      parameters:
        - name: projectId
          required: true
          in: path
          schema:
            type: string
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAgentsResponseDto"
        "401":
          description: You are not authorized to access this resource
      tags:
        - agents
      security:
        - bearer: []
  /auth-methods/create:
    post:
      operationId: createAuthMethod
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAuthMethodDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedAuthMethodDto"
      tags:
        - auth-methods
      security:
        - bearer: []
  /auth-methods/create_demo_methods:
    post:
      operationId: createDemoAuthMethod
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDemoAuthMethodsDto"
      responses:
        "201":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatedDemoAuthMethodsDto"
      tags:
        - auth-methods
      security:
        - bearer: []
  /auth-methods/list_for_project/{projectId}:
    get:
      operationId: listAuthMethods
      parameters:
        - name: projectId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAuthMethodResponseDto"
      tags:
        - auth-methods
      security:
        - bearer: []
info:
  title: AgentLabs API
  description: Build AI Agents in minutes, not months.
  version: 1.0.0
  contact: {}
tags: []
servers: []
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    RegisterUserDto:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
          minLength: 6
        fullName:
          type: string
          minLength: 2
      required:
        - email
        - password
        - fullName
    UserCreatedResponseDto:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        fullName:
          type: string
        verifiedAt:
          format: date-time
          type: string
          nullable: true
      required:
        - id
        - email
        - fullName
        - verifiedAt
    LoginUserDto:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
          minLength: 6
      required:
        - email
        - password
    SanitizedUserResponseDto:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        fullName:
          type: string
        verifiedAt:
          format: date-time
          type: string
          nullable: true
      required:
        - id
        - email
        - fullName
        - verifiedAt
    LoginResponseDto:
      type: object
      properties:
        accessToken:
          type: string
        user:
          $ref: "#/components/schemas/SanitizedUserResponseDto"
      required:
        - accessToken
        - user
    WhoAmIResultDto:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        fullName:
          type: string
        verifiedAt:
          format: date-time
          type: string
          nullable: true
        organizationCount:
          type: number
        defaultProjectId:
          type: string
          nullable: true
        defaultOrganizationId:
          type: string
          nullable: true
        onboarding:
          type: object
        projectCount:
          type: number
        projectCreatedCount:
          type: number
      required:
        - id
        - email
        - fullName
        - verifiedAt
        - organizationCount
        - defaultProjectId
        - defaultOrganizationId
        - onboarding
        - projectCount
        - projectCreatedCount
    CreateProjectDto:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        organizationId:
          type: string
      required:
        - name
        - slug
        - organizationId
    CreatedProjectDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        organizationId:
          type: string
        creatorId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - id
        - name
        - slug
        - organizationId
        - creatorId
        - createdAt
        - updatedAt
    ListProjectItemDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        organizationId:
          type: string
        creatorId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - id
        - name
        - slug
        - organizationId
        - creatorId
        - createdAt
        - updatedAt
    ListProjectsResultDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ListProjectItemDto"
        total:
          type: number
      required:
        - items
        - total
    ProjectExistsResponseDto:
      type: object
      properties:
        exists:
          type: boolean
      required:
        - exists
    CreateAgentDto:
      type: object
      properties:
        name:
          type: string
        projectId:
          type: string
      required:
        - name
        - projectId
    CreatedAgentDto:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        projectId:
          type: string
        creatorId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - id
        - name
        - projectId
        - creatorId
        - createdAt
        - updatedAt
    ListAgentItem:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        projectId:
          type: string
        creatorId:
          type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - id
        - name
        - projectId
        - creatorId
        - createdAt
        - updatedAt
    ListAgentsResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ListAgentItem"
        total:
          type: number
      required:
        - items
        - total
    CreateAuthMethodDto:
      type: object
      properties:
        type:
          type: string
          enum:
            - OAUTH2
            - API_KEY
            - PASSWORDLESS_EMAIL
            - PASSWORDLESS_SMS
        provider:
          type: string
          enum:
            - EMAIL
            - GOOGLE
            - GITHUB
            - GITLAB
            - MICROSOFT
            - FACEBOOK
            - TWITTER
            - APPLE
        projectId:
          type: string
        isEnabled:
          type: boolean
        clientId:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string
      required:
        - type
        - provider
        - projectId
        - isEnabled
        - clientId
        - clientSecret
        - scopes
    CreatedAuthMethodDto:
      type: object
      properties:
        type:
          type: string
          enum:
            - OAUTH2
            - API_KEY
            - PASSWORDLESS_EMAIL
            - PASSWORDLESS_SMS
        provider:
          type: string
          enum:
            - EMAIL
            - GOOGLE
            - GITHUB
            - GITLAB
            - MICROSOFT
            - FACEBOOK
            - TWITTER
            - APPLE
        projectId:
          type: string
        isEnabled:
          type: boolean
        clientId:
          type: string
          nullable: true
        clientSecret:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - type
        - provider
        - projectId
        - isEnabled
        - clientId
        - clientSecret
        - scopes
        - createdAt
        - updatedAt
    CreateDemoAuthMethodsDto:
      type: object
      properties:
        methodTypes:
          type: string
          enum:
            - PASSWORDLESS_EMAIL
        projectId:
          type: string
      required:
        - methodTypes
        - projectId
    CreatedDemoAuthMethodsDto:
      type: object
      properties:
        success:
          type: boolean
      required:
        - success
    ListAuthMethodItem:
      type: object
      properties:
        type:
          type: string
          enum:
            - OAUTH2
            - API_KEY
            - PASSWORDLESS_EMAIL
            - PASSWORDLESS_SMS
        provider:
          type: string
          enum:
            - EMAIL
            - GOOGLE
            - GITHUB
            - GITLAB
            - MICROSOFT
            - FACEBOOK
            - TWITTER
            - APPLE
        projectId:
          type: string
        isEnabled:
          type: boolean
        clientId:
          type: string
          nullable: true
        clientSecret:
          type: string
          nullable: true
        scopes:
          type: array
          items:
            type: string
        createdAt:
          format: date-time
          type: string
        updatedAt:
          format: date-time
          type: string
      required:
        - type
        - provider
        - projectId
        - isEnabled
        - clientId
        - clientSecret
        - scopes
        - createdAt
        - updatedAt
    ListAuthMethodResponseDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ListAuthMethodItem"
        total:
          type: number
      required:
        - items
        - total
